
body{
    background-color: #f4f4f4;
}
a{
    text-decoration: none;
    color: #555;
}
ul{
    list-style: none;
}
ol{
    list-style: none;
}
.top-bar{
    font-family: Helvetica Neue,Helvetica,sans-serif;
    background: #fff;
    height: 46px;
    line-height: 18px;
    position: relative;
    z-index: 25;
    padding: 15px 10px 13px 10px;
    font-size: 13px;
}
.top{
        margin: 0 auto;
        position: relative;
        width: 972px;
        background-color: transparent;
        float: left;
        margin-left: 250px;
}
.bar-item{
    float: left;
    display: block;
}
.icon-home{
    font-family: TCFont-Regular;
    display: inline-block;
    font-weight: 400!important;
    font-style: normal!important;
    vertical-align: middle;
    position: relative;
    top: -.1em;
    width: 1.231em;
    font-size: 1.231em;
    list-style-image: url(../imagenes/home.png);
}
.dropdown-bar{
    border-right: 1px solid #eaeaea;
    height: 46px;
    position: relative;
    width: fit-content;
    float: left;
}
.donate{
    float: left;
    padding: 10px;
    width: fit-content;
    background-color: red;
    color:#fff;

}
.topbar-button{
    position: relative;
    float: left;
    padding: 10px;
    outline-color: initial;
    
}
.topbar-right{
    float:right;
    margin-right: -460px;
}
.menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown-bar:hover .menu{
    display: block;
}
.main-image{

    background-image: url(../imagenes/file-20210921-17-1y97clo.jpg);
    background-size:cover;
    margin: 0px -40px;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 600px;
}
.content-header-container{
    
    float: left;
    background-color: #fff;
    font-family: Montserrat,sans-serif;
    width: fit-content;
    bottom: 70px;
    position: absolute;
    color: #383838;
    margin-left: -130px;
    

    
}
.entry-title{
    font-size: 39px;
    display: inline-block;
    
}
.sub-img-main{
    display: inline-block;
    font-size: 12px;
    color:#666;
    margin-left: -130px;

}
.sub-img-main a{
    color:#ccc;
}
.link:hover{
    color:#069;
}
.header{
    background: #f8f8f8;
    border-bottom: 5px solid #f1f1f2;
    border-top: 1px solid #f1f1f2;
    padding-top: 24px;
}
.wrapper{
    margin: 0 auto;
    position: relative;
    width: 972px;
}
.cabecera{
    background: #f8f8f8;
    border-bottom: 5px solid #f1f1f2;
    border-top: 1px solid #f1f1f2;
    padding-top: 24px;
}
.logo{
    margin: 0;
    position: relative;
    float: left;
    margin-bottom: 0;
    display: block;
    width: 350px;
    height: 29px;
}
.masthead-search{
    float: right;
    border-radius: 2px;
    padding: 7px 6px 6px 26px;
    min-width: 280px;
    border: 1px solid #aaa;
    position: relative;
    background-color: #fff;
    display: block;
    font-size: 12px;
    line-height: 16px;
}
.tagline{
    padding-top: 4px;
    clear: left;
    float: left;
    width: 300px;
    height: 18px;
    color: #383838;
    font-weight: 400;
    text-shadow: none;
    font-size: 12px;
}
.idle{
    padding-top: 5px;
    display: inline-block;
    float:left;
    margin-right: .8em;
    font-size: 13px;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    color: #383838;
}
.idle:hover {
    border-bottom: 5px red solid;
}
.current{
    border-bottom: 5px red solid;
}
.button {
    border: 1px solid #cacaca;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 4px;
    box-sizing: content-box;
    cursor: pointer;
    display: none;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 700!important;
    line-height: 16px;
    min-height: 16px;
    padding: 3px 12px;
    position: relative;
    transition: opacity .5s;
}
.sidebar-right{
    float: right;
    position: relative;
    margin:0 0 1cm 1cm;
    width: 228px;
}
.content-social-distribution{
    float: left;
    margin-right: 20px;
    width: 104px;
    margin-left: 15%;
    position: relative;
}   
.align-right{
    float:right;
    clear:right;
    margin-left:20px;
    margin-right:180px;
    width:300px;
    
}
.main-text{
    font-size: 18px;
    padding-bottom: 12px;
    font-family: Libre Baskerville,Georgia,Times,Times New Roman,serif;
    line-height: 1.6;
    color: #383838;
}

.main-text a{
    text-decoration: underline;
}

.main-text a:hover{
    color:#069;
}

.jss1{
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    background-color: rgb(248, 248, 248);

}
.cc-header img{
    max-width: 55%;
    height: auto;
    margin-bottom: 2em;
}

.cc-header{
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 600;
    letter-spacing: initial;
    text-transform: initial;
}

.button-republish{
    font-size: 18px;
    font-family: Noto Sans;
    color: #fff;
    line-height: 1.75;
    border-radius: 4px;
    background-color: #555768;
}

.date{
    font-family: Helvetica Neue,Helvetica,sans-serif;
    background-color: #fff;
    color: #727272;
    display: inline-block;
    font-size: 11px;
    margin: -1px 0 0 -12px;
    padding: 6px 12px;
}



.mainbody-img img{
    max-width:80%;
    height:auto;
}
.sub-img{
    font-size: 13px;
}
.topic-list-item{
    display: inline-block;
    font-size: 13px;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    color: #383838;
    border: 2px;
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
    background-color: lightgray;
}
.topic-list-item:hover {
    background-color: red;
    color: #fff;
}
.border{
    
    color: #333;
    font-size: 15px;
    line-height: 18px;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: .33em;
}
.articles-kuWqx{
    color: #069;
    padding: 10px;
    font-family: Helvetica Neue,Helvetica,sans-serif;
}

.articles-kuWqx img{
    max-width:130%;
    height:auto;
}
.article-1PA2M{
    float: left;
    width: 25%;
}
#footer{
    background-color: #202020;
    font-size: 13px;
    padding: 1.4em 0;
    line-height: normal;
}
#footer a{
    color: #fff;
    float: left;
}
.footer-primary{
    background-color: #383838;
    overflow: hidden;
}
.footer-primary a{
    color:#fff;
}
.bottom{
    width: fit-content;
    position: static;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    line-height: 2em;
    margin-left: -40px;
}
#bottom:hover{
    text-decoration: underline;
}
.right-grid{
    float: right;
}
.left-grid{
    float: left;
}
.content-disclosure-statement{
    font-size: 12px;
    line-height: 1.5em;
}
.authorpic{
    max-width: 28%;
    height: auto;
    border-radius: 50%;
    margin-left: -40px;
}
.author-name{
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: 15px;
    line-height: 18px;
    color:#069;
}
.role{
    
    color: #555768;
    font-size: 11px;
    line-height: 1.4;
    margin-left: 0px;
    
    font-family: Helvetica Neue,Helvetica,sans-serif;
}

